table{
    margin-left:auto; 
    margin-right:auto;
}

textarea{
    display: block;
    margin-bottom: 8px;
    margin-left:auto; 
    margin-right:auto;
    border-radius: 5px;
 }

 button{
    height: 40px;
    width: 40px;
 }
 #opac{
    opacity: 0.25;
    /* margin-left: 32%; */
    /* margin-bottom: 3px; */
    height: 19px;
    width: 87px;
    margin: auto;
}